@import 'reset';

// Variables

$white: #fff;
$main-width: 1200px;
$roboto: 'Roboto Condensed';

* {
  box-sizing: border-box;
}

body {
  background: #0074D9;
  color: $white;
  font-family: $roboto, sans-serif;
  font-size: 26px;
}

.row {
  max-width: $main-width;
  margin: 0 auto;
}

.form-normal {
  text-align: center;
  border: 10px solid black;
  margin-top: 15%;
  padding: 2.5%;
  .form-group {
    position: relative;
    margin: 2.5%;
  }
  legend {
    font-size: 30px;
  }
  input {
    width: 80%;
    background: none;
    border: 0;
    height: 30px;
    float: right;
    padding-left: 5%;
    color: $white;
    font-family: $roboto, sans-serif;
    font-size: 22px;
  }
  ::-webkit-input-placeholder {
    color: $white;
    font-family: $roboto, sans-serif;
    font-size: 22px;
  }
  label {
    clear: right;
    text-align: right;
    height: 30px;
  }
  span {
    position: absolute;
    right: 0;
    color: #e74c3c;
  }
}

button {
  display: block;
  margin: 2% auto;
  padding: 5%;
  background: #3498db;
  // color: $white;
  font-size: 25px;
  border: 0;
}

// JS related

.validation-ok {
  border: 1px solid green !important;
}

.validation-error {
  border: 1px solid red !important;
}
